<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="usuario" required>
        <br><br>
        <input type="password" placeholder="Senha" name="senha" required>
        <br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
